policy_module(mysandbox, 1.0.0)

optional_policy(`
	gen_require(`
		type sandbox_web_client_tmpfs_t;
	')

	pulseaudio_tmpfs_content(sandbox_web_client_tmpfs_t)
')

optional_policy(`
	gen_require(`
		attribute sandbox_x_domain;
		type moc_tmpfs_t;
	')

	allow sandbox_x_domain moc_tmpfs_t:file { read_file_perms delete_file_perms };
')
