policy_module(myunconfineduser, 1.0.0)


optional_policy(`
gen_require(`
	type unconfined_t;
	role unconfined_r;
')
	webkitpp_role_template(unconfined, unconfined_r, unconfined_t)
	gtalkplugin_role_template(unconfined, unconfined_r, unconfined_t)
')

optional_policy(`
gen_require(`
	type unconfined_t;
	role unconfined_r;
')
        ut2004_run(unconfined_r, unconfined_t)
')

optional_policy(`
gen_require(`
	type unconfined_t;
	role unconfined_r;
')
        gpg_role(unconfined_r, unconfined_t)
')

optional_policy(`
gen_require(`
	type unconfined_t;
	role unconfined_r;
')
        irc_role(unconfined_r, unconfined_t)
')

optional_policy(`
gen_require(`
	type unconfined_t;
	role unconfined_r;
')
        rtorrent_run(unconfined_r, unconfined_t)
')

optional_policy(`
gen_require(`
	type unconfined_t;
	role unconfined_r;
')
	newsbeuter_role_template(unconfined, unconfined_r, unconfined_t)
')
